.clients {
	.customer {
		display: flex;
		flex-wrap: nowrap;
		margin: 30px 0 60px;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (min-width: $desktop-min) {
			flex-direction: row;

			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&--photo,
		&--comment {
			display: flex;
		}

		&--photo {
			min-width: 220px;
			height: 220px;
			width: 220px;
			background: #f9f9f9;
			border-radius: 50%;
			margin: 30px auto;

			@media screen and (min-width: $desktop-min) {
				margin: unset;
			}

			img {
				border-radius: 50%;
			}
		}

		&--comment {
			align-self: center;
			padding: 0 75px;

			blockquote {
				display: flex;
				flex-direction: column;
				padding: 25px;
				background: $bg-gray;
				color: $color-thirdy;

				.quote {
					margin-bottom: 20px;
				}

				.author {
					color: $bg-primary;

					&:before {
						content: "-";
						padding-right: 10px;
						display: inline-block;
					}
				}
			}
		}
	}
}
