.copyrights {
	padding: 30px 0;

	.container {
		display: flex;
		align-items: center;
	}

	&--text,
	&--social {
		width: 50%;
	}

	&--social {
		text-align: right;

		img {
			opacity: 0.75;
			padding: 0 5px;
			border-radius: 50%;
			transition: opacity 0.25s;

			&:hover {
				opacity: 1;
			}
		}
	}

	@media screen and (min-width: $desktop-min) {
		&--text {
			width: 25%;
		}

		&--social {
			width: 50%;
			text-align: center;
		}
	}
}
