.footer {
	background: $bg-footer;
	color: #fff;
	padding: 30px 0;

	@media screen and (min-width: $tablet-min) {
		padding: 60px 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media screen and (min-width: $tablet-min) {
			flex-direction: row;
		}
	}

	&--block {
		margin-bottom: 40px;

		&--title {
			text-align: center;
		}
	}

	@media screen and(min-width: $tablet-min) {
		&--block {
			width: 33.3333%;
			margin: 0;

			&--title {
				text-align: left;
			}
		}
	}

	&--list {
		&--item {
			display: flex;
			margin-bottom: 10px;

			.twitter {
				&--hashtag {
					font-weight: 700;
				}

				&--time {
					font-size: 12px;
				}
			}

			&__icon {
				width: 30px;
				padding-right: 10px;
				line-height: 1;
				text-align: center;

				.fa {
					font-size: 2em;

					&-envelope {
						font-size: 1.5em;
					}
				}
			}
		}
	}
}
