.hero {
	color: #fff;
	background-repeat: no-repeat;
	padding: $section-hero-padding-mob;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("../images/hero.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;

	@media screen and (min-width: $tablet-min) {
		padding: $section-hero-padding;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section {
		@media screen and (min-width: $tablet-min) {
			&--content {
				width: 75%;
			}
		}

		&--description {
			margin-bottom: 40px;
		}

		&--footer {
			display: flex;
			justify-content: center;
		}
	}
}
