.partners {
	padding: 40px 0;

	@media screen and (min-width: $tablet-min) {
		padding: 60px 0;
	}

	&--list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__item {
			margin-bottom: 40px;

			img {
				opacity: 0.75;

				&:hover {
					opacity: 1;
				}
			}

			&:last-of-type {
				margin-bottom: unset;
			}
		}

		@media screen and (min-width: $tablet-min) {
			flex-direction: row;
			justify-content: space-around;

			&__item {
				margin-bottom: unset;
			}
		}
	}
}
