article {
	text-align: center;

	h2 {
		font-weight: 700;
		text-transform: capitalize;
		font-size: $art-mobile-heading-size;
	}
}

@media screen and (min-width: $min-tablet) {
	article {
		text-align: unset;

		h2 {
			font-size: $art-default-heading-size;
		}
	}
}
