.btn {
	border-radius: 0;
	color: $color-secondary;
	text-transform: uppercase;
	padding: $btn-padding;
	font-size: $btn-default-size;

	&--header {
		background: $btn-bg-header;
	}

	&--gallery {
		background: $btn-bg-gallery;
	}

	&--blog {
		background: $btn-bg-blog;
	}
}
