.navbar-custom {
	background: $nav-bg;
	padding: $nav-padding;

	&.scrolled {
		background: rgba(255, 255, 255, 0.9);
	}

	.navbar-brand {
		font-family: "Pacifico", sans-serif;
		font-size: 3em;
		color: $color-primary;
	}

	@media screen and (max-width: $max-mobile) {
		.navbar-collapse {
			text-align: center;
			margin: 25px 0;
			background: rgba(0, 0, 0, 0.1);
		}
	}

	.navbar-nav {
		li {
			text-transform: uppercase;
			font-weight: 700;

			a {
				color: $color-primary;

				&.active {
					&::before {
						content: "";
						height: 3px;
						display: block;
						margin-top: -8px;
						background: red;
						margin-bottom: 5px;
					}
				}

				&:hover {
					background: unset;
				}
			}
		}
	}
}

.navbar-toggle {
	.icon-bar {
		background: #000;
	}
}
