html,
body {
  font-family: "Raleway", sans-serif;
  color: #262626;
  min-height: 100vh;
}
html p,
body p {
  margin: 12px 0;
  font-weight: 300;
  line-height: 1.75em;
  font-size: 17px;
}

.no-padding {
  padding: 0;
}

.btn {
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 20px;
}
.btn--header {
  background: #ff6033;
}
.btn--gallery {
  background: #5585a2;
}
.btn--blog {
  background: #f72b3b;
}

.navbar-custom {
  background: transparent;
  padding: 24px 0;
}
.navbar-custom.scrolled {
  background: rgba(255, 255, 255, 0.9);
}
.navbar-custom .navbar-brand {
  font-family: "Pacifico", sans-serif;
  font-size: 3em;
  color: #262626;
}
@media screen and (max-width: 767px) {
  .navbar-custom .navbar-collapse {
    text-align: center;
    margin: 25px 0;
    background: rgba(0, 0, 0, 0.1);
  }
}
.navbar-custom .navbar-nav li {
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-custom .navbar-nav li a {
  color: #262626;
}
.navbar-custom .navbar-nav li a.active::before {
  content: "";
  height: 3px;
  display: block;
  margin-top: -8px;
  background: red;
  margin-bottom: 5px;
}
.navbar-custom .navbar-nav li a:hover {
  background: unset;
}

.navbar-toggle .icon-bar {
  background: #000;
}

section {
  padding: 70px 0;
}

article {
  text-align: center;
}
article h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 60px;
}

@media screen and (min-width: 768px) {
  article {
    text-align: unset;
  }
  article h2 {
    font-size: 90px;
  }
}
.site-header {
  background: url("../images/bg-header.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
.site-header--article {
  padding: 30vh 0;
}
@media screen and (min-width: 768px) {
  .site-header--article {
    padding: 40vh 0;
  }
}
.site-header--article__title {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .site-header--article__content {
    margin: 50px 0;
  }
}
.site-header--article .btn {
  margin: 12px 0;
}

.about {
  background: #00b2b2;
  color: #fff;
}
.about--article {
  padding: 15% 0;
}
.about--article__title {
  font-weight: 700;
}

.services {
  background: #70bfff;
  color: #fff;
}
.services--table {
  width: 100%;
  margin: 0 0 20px;
  color: #262626;
  border-collapse: separate;
  border-spacing: 0 20px;
}
@media screen and (min-width: 768px) {
  .services--table {
    margin: 25% 0;
  }
}
.services--table tr {
  background: #fff;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
}
.services--table__name {
  font-size: 20px;
  padding: 40px 0;
  line-height: 0;
  border-right: 1px solid #9d9d9d;
}
.services--table__icon {
  font-size: 3em;
}
.services--table__icon i {
  top: 8px;
}
.services--article {
  background: url("../images/bg-services-article.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.services--article__title {
  text-align: center;
  padding: 38% 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services--article__title {
    font-size: 60px;
  }
}

.gallery {
  background: #ffe92f;
}
.gallery--article {
  text-align: center;
  margin-bottom: 50px;
}
.gallery--row__photo-2-3 {
  width: 100%;
  max-height: 550px;
}
@media screen and (max-width: 767px) {
  .gallery--row__photo-2-3 {
    margin-bottom: 30px;
  }
}
.gallery--row__photo-1-3 {
  max-height: 260px;
  width: 100%;
}
.gallery--row__photo-1-3:first-of-type {
  margin-bottom: 30px;
}
.gallery--row__photo-1-2 {
  width: 100%;
  max-height: 400px;
}
@media screen and (max-width: 767px) {
  .gallery--row__photo-1-2:first-of-type {
    margin-bottom: 30px;
  }
}
.gallery .btn {
  margin-top: 40px;
}

.subscribe {
  background: #fff;
}
@media screen and (min-width: 1200px) {
  .subscribe .container {
    background: url("../images/bg-subscribe.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
.subscribe--article__title {
  font-size: 40px;
}
.subscribe--article__form input[type=email] {
  border: 2px solid;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .subscribe--article__form input[type=email] {
    margin-right: 30px;
    margin-bottom: 25px;
    width: 75%;
  }
}
.subscribe--article__form input[type=email]:active, .subscribe--article__form input[type=email]:focus, .subscribe--article__form input[type=email]:hover {
  outline: none;
}
.subscribe--article__form .btn--subscribe {
  background: #96b92c;
}

.blog {
  background: #b07cf7;
}
.blog--article {
  text-align: center;
  margin-bottom: 50px;
}
.blog--row__photo-2-3 {
  width: 100%;
  max-height: 550px;
}
@media screen and (max-width: 767px) {
  .blog--row__photo-2-3 {
    margin-bottom: 30px;
  }
}
.blog--row__photo-1-3 {
  max-height: 260px;
  width: 100%;
}
.blog--row__photo-1-3:first-of-type {
  margin-bottom: 30px;
}
.blog--row__photo-1-2 {
  width: 100%;
  max-height: 400px;
}
@media screen and (max-width: 767px) {
  .blog--row__photo-1-2:first-of-type {
    margin-bottom: 30px;
  }
}
.blog .btn {
  margin-top: 40px;
}

.contact {
  background: url("../images/bg-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact--article {
  margin-bottom: 40px;
}
.contact--form input,
.contact--form textarea {
  color: #fff;
  background: rgba(0, 196, 196, 0.5);
  border: none;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  transition: background 0.25s;
}
.contact--form input::placeholder,
.contact--form textarea::placeholder {
  color: #fff;
}
.contact--form input:active, .contact--form input:focus, .contact--form input:hover,
.contact--form textarea:active,
.contact--form textarea:focus,
.contact--form textarea:hover {
  background: #00c4c4;
  outline: none;
}
.contact--form input {
  transition: border-left 0.25s;
}
.contact--form input:active, .contact--form input:focus {
  border-left: 5px solid #355b82;
}
.contact--form textarea {
  height: 250px;
  resize: vertical;
}
.contact--list {
  list-style: none;
  font-weight: 700;
  font-size: 17px;
}
.contact--list li:nth-child(2n) {
  font-weight: 300;
  margin-bottom: 16px;
}

.site-footer {
  background: #262626;
  padding: 16px 0;
  color: #b9b9b9;
  font-weight: 300;
}
.site-footer .logo {
  text-align: center;
  font-family: "Pacifico", sans-serif;
}
.site-footer .logo p {
  font-size: 24px;
  position: relative;
  bottom: 8px;
}
.site-footer .author {
  text-align: right;
}
.site-footer .author span {
  color: #ff2b58;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
