html,
body {
	font-family: "Raleway", sans-serif;
	color: $color-primary;
	min-height: 100vh;

	p {
		margin: 12px 0;
		font-weight: 300;
		line-height: 1.75em;
		font-size: $default-font-size;
	}
}

.no-padding {
	padding: 0;
}
