// Reset
$default-section-padding: 70px 0;
$art-mobile-heading-size: 60px;
$art-default-heading-size: $art-mobile-heading-size * 1.5;

// Font color
$color-primary: #262626;
$color-secondary: #fff;

// Font Size
$default-font-size: 17px;

// Buttons
$btn-bg-header: #ff6033;
$btn-bg-gallery: #5585a2;
$btn-bg-subscribe: #96b92c;
$btn-bg-blog: #f72b3b;
$btn-padding: 8px 16px;
$btn-default-size: 20px;

// Nav
$nav-bg: transparent;
$nav-padding: 24px 0;
$nav-link-active-color: $btn-bg-header;

// About
$about-bg: #00b2b2;

// Services
$services-bg: #70bfff;

// Gallery
$gallery-bg: #ffe92f;

// Subscribe
$subscribe-bg: #fff;
$subscribe-header-size: 40px;

// Blog
$blog-bg: #b07cf7;

// Contact
$contact-input-default: #fff;
$contact-input-bg: rgba(0, 196, 196, 0.5);
$contact-input-bg-active: rgba(0, 196, 196, 1);

// Footer
$footer-bg: #262626;
$footer-color: #b9b9b9;
$footer-love: #ff2b58;

// Breakpoints
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1024px;
$min-desktop: 1200px;
