/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.full-width {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a {
  color: #fff;
  transition: color 0.25s;
}
a:hover {
  color: #777;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 18px;
}

@media screen and (min-width: 1023px) {
  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.625em;
  }

  h3 {
    font-size: 1.875em;
  }
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--white {
  color: #fff;
}

.btn {
  padding: 16px 32px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: all 0.25s;
  font-weight: 700;
  color: #fff;
}
.btn--primary {
  background: #7cc576;
}
.btn--primary:hover {
  background: #fff;
  color: #222;
}
.btn--secondary {
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
}
.btn--secondary:hover {
  background: #fff;
  color: #7cc576;
}

.list--inline {
  display: block;
}
.list--inline li {
  display: inline-block;
  padding: 0 16px;
}

.navbar {
  display: flex;
  padding: 20px 0;
  background: #fff;
  text-transform: uppercase;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar__toggle {
  font-size: 1.5em;
  color: #777;
}
.navbar .fa {
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 30px 0;
  }
  .navbar__toggle {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 40px 0;
  }
}
.navbar a {
  color: #777;
}
.navbar a:hover {
  color: #222;
}
.navbar--logo {
  font-weight: 700;
  color: #555;
  font-size: 18px;
}
.navbar--logo .fa {
  color: #fff;
  margin-right: 10px;
  border-radius: 50%;
  background: #7cc576;
}
.navbar--list {
  display: none;
  font-size: 14px;
  padding: 20px 0 0;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.navbar--list.open {
  display: flex;
}
.navbar--list li {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .navbar--list {
    display: block;
    width: unset;
    padding: 12px 0;
  }
  .navbar--list.open {
    display: block;
  }
  .navbar--list li {
    display: inline-block;
    padding: 2px 16px;
  }
}

section {
  padding: 100px 0;
  color: #222;
}
section .section--title {
  text-transform: uppercase;
}
section .section--title, section .section--description {
  margin-bottom: 25px;
}
section .section--footer {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}
.cards .card {
  cursor: pointer;
  padding: 30px 16px 8px;
  transition: color 0.25s;
}
.cards .card:hover {
  color: #7cc576;
}
.cards .card:hover .card--description {
  color: #7cc576;
}
@media screen and (min-width: 768px) {
  .cards .card {
    padding-top: 90px;
  }
}
.cards .card--icon {
  padding-bottom: 40px;
}
.cards .card--icon .fa {
  font-size: 4em;
}
.cards .card--title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}
.cards .card--description {
  font-size: 14px;
  line-height: 1.8em;
  color: #777;
  transition: color 0.25s;
}

.hero {
  color: #fff;
  background-repeat: no-repeat;
  padding: 60px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 120px 0;
  }
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero .section--content {
    width: 75%;
  }
}
.hero .section--description {
  margin-bottom: 40px;
}
.hero .section--footer {
  display: flex;
  justify-content: center;
}

.services {
  color: #222;
}
.services .section--description {
  margin-bottom: 0;
}

.culture {
  color: #222;
  background: #f9f9f9;
}

.clients .customer {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px 0 60px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .clients .customer {
    flex-direction: row;
  }
  .clients .customer:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
.clients .customer:last-of-type {
  margin-bottom: 0;
}
.clients .customer--photo, .clients .customer--comment {
  display: flex;
}
.clients .customer--photo {
  min-width: 220px;
  height: 220px;
  width: 220px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 30px auto;
}
@media screen and (min-width: 1024px) {
  .clients .customer--photo {
    margin: unset;
  }
}
.clients .customer--photo img {
  border-radius: 50%;
}
.clients .customer--comment {
  align-self: center;
  padding: 0 75px;
}
.clients .customer--comment blockquote {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: #f9f9f9;
  color: #777;
}
.clients .customer--comment blockquote .quote {
  margin-bottom: 20px;
}
.clients .customer--comment blockquote .author {
  color: #7cc576;
}
.clients .customer--comment blockquote .author:before {
  content: "-";
  padding-right: 10px;
  display: inline-block;
}

.contact {
  background: #7cc576;
}

.partners {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .partners {
    padding: 60px 0;
  }
}
.partners--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners--list__item {
  margin-bottom: 40px;
}
.partners--list__item img {
  opacity: 0.75;
}
.partners--list__item img:hover {
  opacity: 1;
}
.partners--list__item:last-of-type {
  margin-bottom: unset;
}
@media screen and (min-width: 768px) {
  .partners--list {
    flex-direction: row;
    justify-content: space-around;
  }
  .partners--list__item {
    margin-bottom: unset;
  }
}

.footer {
  background: #222;
  color: #fff;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
  }
}
.footer--block {
  margin-bottom: 40px;
}
.footer--block--title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer--block {
    width: 33.3333%;
    margin: 0;
  }
  .footer--block--title {
    text-align: left;
  }
}
.footer--list--item {
  display: flex;
  margin-bottom: 10px;
}
.footer--list--item .twitter--hashtag {
  font-weight: 700;
}
.footer--list--item .twitter--time {
  font-size: 12px;
}
.footer--list--item__icon {
  width: 30px;
  padding-right: 10px;
  line-height: 1;
  text-align: center;
}
.footer--list--item__icon .fa {
  font-size: 2em;
}
.footer--list--item__icon .fa-envelope {
  font-size: 1.5em;
}

.copyrights {
  padding: 30px 0;
}
.copyrights .container {
  display: flex;
  align-items: center;
}
.copyrights--text, .copyrights--social {
  width: 50%;
}
.copyrights--social {
  text-align: right;
}
.copyrights--social img {
  opacity: 0.75;
  padding: 0 5px;
  border-radius: 50%;
  transition: opacity 0.25s;
}
.copyrights--social img:hover {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .copyrights--text {
    width: 25%;
  }
  .copyrights--social {
    width: 50%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
