h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

a {
	color: #fff;
	transition: color 0.25s;

	&:hover {
		color: $color-thirdy;
	}
}

h1 {
	font-size: $fs-h1;
	margin-bottom: 40px;
}

h2 {
	font-size: $fs-h2;
}

h3 {
	font-size: $fs-h3;
}

h4 {
	font-size: $fs-bigger;
}

@media screen and (min-width: $tablet-max) {
	h1 {
		font-size: $fs-h1 * 1.5;
	}

	h2 {
		font-size: $fs-h2 * 1.5;
	}

	h3 {
		font-size: $fs-h3 * 1.5;
	}
}

.text {
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}

	&--white {
		color: #fff;
	}
}
