$mobile-max: 767px;
$tablet-min: $mobile-max + 1;
$tablet-max: 1023px;
$desktop-min: $tablet-max + 1;

// Colors
$color-logo: #555;
$color-primary: #222;
$color-secondary: #555;
$color-thirdy: #777;

// Background
$bg-gray: #f9f9f9;
$bg-primary: #7cc576;
$bg-footer: $color-primary;

// Font Size
$fs-smaller: 14px;
$fs-normal: 16px;
$fs-bigger: 18px;

$fs-logo: 18px;
$fs-navbar: 14px;

$fs-h1: 2.5em;
$fs-h2: 1.75em;
$fs-h3: 1.25em;

// Sections
$section-padding: 100px 0;
$section-hero-color: #fff;
$section-hero-padding-mob: 60px 0;
$section-hero-padding: 120px 0;

// Mobile Font Size
@media screen and (max-width: $mobile-max) {
	$fs-navbar: $fs-navbar * 1.5;
	$fs-logo: $fs-logo * 1.5;
}
