.blog {
	background: $blog-bg;

	&--article {
		text-align: center;
		margin-bottom: 50px;
	}

	&--row {
		&__photo-2-3 {
			width: 100%;
			max-height: 550px;

			@media screen and (max-width: $max-mobile) {
				margin-bottom: 30px;
			}
		}

		&__photo-1-3 {
			max-height: 260px;
			width: 100%;

			&:first-of-type {
				margin-bottom: 30px;
			}
		}

		&__photo-1-2 {
			width: 100%;
			max-height: 400px;

			@media screen and (max-width: $max-mobile) {
				&:first-of-type {
					margin-bottom: 30px;
				}
			}
		}
	}

	.btn {
		margin-top: 40px;
	}
}
