.contact {
	background: url("../images/bg-contact.png");
	background-repeat: no-repeat;
	background-size: cover;

	&--article {
		margin-bottom: 40px;
	}

	&--form {
		input,
		textarea {
			color: $contact-input-default;
			background: $contact-input-bg;
			border: none;
			width: 100%;
			padding: 16px;
			cursor: pointer;

			transition: background 0.25s;

			&::placeholder {
				color: $contact-input-default;
			}

			&:active,
			&:focus,
			&:hover {
				background: $contact-input-bg-active;
				outline: none;
			}
		}

		input {
			transition: border-left 0.25s;
			&:active,
			&:focus {
				border-left: 5px solid #355b82;
			}
		}

		textarea {
			height: 250px;
			resize: vertical;
		}
	}

	&--list {
		list-style: none;
		font-weight: 700;
		font-size: $default-font-size;

		li {
			&:nth-child(2n) {
				font-weight: 300;
				margin-bottom: 16px;
			}
		}
	}
}
