.site-footer {
	background: $footer-bg;
	padding: 16px 0;
	color: $footer-color;
	font-weight: 300;

	.logo {
		text-align: center;
		font-family: "Pacifico", sans-serif;

		p {
			font-size: 24px;
			position: relative;
			bottom: 8px;
		}
	}

	.author {
		text-align: right;

		span {
			color: $footer-love;
			font-weight: 700;
		}
	}
}
