.site-header {
	background: url("../images/bg-header.png") no-repeat center center;
	background-size: cover;
	min-height: 100vh;

	&--article {
		padding: 30vh 0;

		@media screen and (min-width: $min-tablet) {
			padding: 40vh 0;
		}

		&__title {
			font-weight: 700;
		}

		&__content {
			@media screen and (max-width: $max-mobile) {
				margin: 50px 0;
			}
		}

		.btn {
			margin: 12px 0;
		}
	}
}
