.services {
	background: $services-bg;
	color: $color-secondary;

	&--table {
		width: 100%;
		margin: 0 0 20px;
		color: $color-primary;
		border-collapse: separate;
		border-spacing: 0 20px;

		@media screen and (min-width: $min-tablet) {
			margin: 25% 0;
		}

		tr {
			background: #fff;
			padding-bottom: 20px;
			text-align: center;
			font-weight: 700;
			vertical-align: middle;
		}

		&__name {
			font-size: 20px;
			padding: 40px 0;
			line-height: 0;
			border-right: 1px solid #9d9d9d;
		}

		&__icon {
			font-size: 3em;

			i {
				top: 8px;
			}
		}
	}

	&--article {
		background: url("../images/bg-services-article.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		&__title {
			text-align: center;
			padding: 38% 0;

			@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
				font-size: $art-mobile-heading-size;
			}
		}
	}
}
