.subscribe {
	background: $subscribe-bg;

	@media screen and (min-width: $min-desktop) {
		.container {
			background: url("../images/bg-subscribe.png");
			background-repeat: no-repeat;
			background-position: right;
			background-size: contain;
		}
	}

	&--article {
		&__title {
			font-size: $subscribe-header-size;
		}

		&__form {
			input[type="email"] {
				border: 2px solid;
				padding: 10px 16px;
				width: 100%;
				margin-bottom: 25px;

				@media screen and (min-width: $min-desktop) {
					margin-right: 30px;
					margin-bottom: 25px;
					width: 75%;
				}

				&:active,
				&:focus,
				&:hover {
					outline: none;
				}
			}

			.btn {
				&--subscribe {
					background: $btn-bg-subscribe;
				}
			}
		}
	}
}
