.btn {
	padding: 16px 32px;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	transition: all 0.25s;
	font-weight: 700;
	color: #fff;

	&--primary {
		background: $bg-primary;

		&:hover {
			background: #fff;
			color: $color-primary;
		}
	}

	&--secondary {
		background: transparent;
		border: 3px solid white;
		border-radius: 5px;

		&:hover {
			background: #fff;
			color: $bg-primary;
		}
	}
}
