.cards {
	display: flex;
	flex-direction: column;

	@media screen and(min-width: $tablet-min) {
		flex-direction: row;
	}

	.card {
		cursor: pointer;
		padding: 30px 16px 8px;
		transition: color 0.25s;

		&:hover {
			color: $bg-primary;

			.card--description {
				color: $bg-primary;
			}
		}

		@media screen and (min-width: $tablet-min) {
			padding-top: 90px;
		}

		&--icon {
			padding-bottom: 40px;

			.fa {
				font-size: 4em;
			}
		}

		&--title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: $fs-bigger;
			margin-bottom: 18px;
		}

		&--description {
			font-size: $fs-smaller;
			line-height: 1.8em;
			color: $color-thirdy;

			transition: color 0.25s;
		}
	}
}
