.navbar {
	display: flex;
	padding: 20px 0;
	background: #fff;
	text-transform: uppercase;
	justify-content: space-between;
	flex-wrap: wrap;

	&__toggle {
		font-size: 1.5em;
		color: $color-thirdy;
	}

	.fa {
		padding: 12px;
	}

	@media screen and(min-width: $tablet-min) {
		padding: 30px 0;

		&__toggle {
			display: none;
		}
	}

	@media screen and (min-width: $desktop-min) {
		padding: 40px 0;
	}

	a {
		color: $color-thirdy;

		&:hover {
			color: $color-primary;
		}
	}

	&--logo {
		font-weight: 700;
		color: $color-logo;
		font-size: $fs-logo;

		.fa {
			color: #fff;
			margin-right: 10px;
			border-radius: 50%;
			background: $bg-primary;
		}
	}

	&--list {
		display: none;
		font-size: $fs-navbar;
		padding: 20px 0 0;
		text-align: center;
		flex-direction: column;
		width: 100%;

		&.open {
			display: flex;
		}

		li {
			padding: 10px 0;
		}

		@media screen and(min-width:$tablet-min) {
			display: block;
			width: unset;
			padding: 12px 0;

			&.open {
				display: block;
			}

			li {
				display: inline-block;
				padding: 2px 16px;
			}
		}
	}
}
