section {
	padding: $section-padding;
	color: $color-primary;

	.section {
		&--title {
			text-transform: uppercase;
		}

		&--title,
		&--description {
			margin-bottom: 25px;
		}

		&--footer {
			display: flex;
			justify-content: center;
		}
	}
}
